<div id='mailbox-buttons'>
  <div class="ui vertical buttons">
    <%= link_to 'new conversation', new_message_path, class: 'ui button' %>
    <%= mailbox_section 'inbox', @box, class: 'ui button' %>
    <%= mailbox_section 'sent', @box, class: 'ui button' %>
    <%= mailbox_section 'trash', @box, class: 'ui button' %>
  </div>
</div>

<div class="col-sm-5">
  <% if @box == 'trash' %>
    <p><%= link_to 'Empty trash', empty_trash_conversations_path, class: 'red ui button', method: :delete,
                   data: {confirm: 'Are you sure?'} %></p>
  <% end %>
  <ul class="list-group">
    <%= render partial: 'conversation', collection: @conversations %>
  </ul>

  <%= will_paginate %>
</div>