<h4><%= @conversation.subject %></h4>

<%= @conversation.receipts_for(current_user).each do |receipt| %>

  <div>
   <div> <%= receipt.message.sender.name %> commented: </div>
    <p> <%= receipt.message.body %> </p>
  </div>

<% end %>

<%= form_tag user_conversation_messages_path(current_user, @conversation), method: :post do %>
  <div>
    <%= text_area_tag :body %>
  </div>

  <%= submit_tag %>

<% end %>