
<%= render 'categories' %>

<div class='search-container go-behind'>
  <div class='ui grid'>
    <% @items.each do |item| %>
      <div class='four wide column'>
        <div class='thumbnail'>
          <%= link_to(image_tag(item.images[0], class: "object-fit-cover"), item_path(:id => item.id)) %>
          <span class='hover-text'> £<%= item.daily_price %>/day </span>
        </div>
        <p> <strong> <%= item.item_name %> </strong> </p> 
        <p> from: <%= item.user.username %> ( <%= item.user.account.location %> )</p>
      </div>
    <% end %>
  </div>
      
  <%= will_paginate @items %>




</div>