<!DOCTYPE html>
<html>
  <head>
    <title>BorrowMyStudio</title>
    <%= csrf_meta_tags %>

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <style>
      #map-canvas {
        width: 325px;
        height: 285px;
      }
    </style>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyOcl4Nd71yjjYcQedbsham55FiRFd6R4&callback=initMap">
    </script>
    
  </head>

  <body>

    <div id='nav'>
      <div class="ui secondary menu">
          <%= link_to 'Borrow-My-Studio', root_path, class: "item", style:'font-size: 14px' %>
        <div class="item">
          <div class="ui icon input", style:'font-size: 15px'>
            <a style='font-size: 14px'><input type="text" placeholder="Search..."></a>
            <i class="search link icon"></i>
          </div>
        </div>
        
        
        <div class="right menu">
          

          <% if user_signed_in? %>
             
              <%= link_to 'List item', new_item_path, class: "item", style:'font-size: 14px' %>
              <%= link_to 'Your Conversations', conversations_path, class: "item", style:'font-size: 14px' %>
              <%= link_to 'Account', user_account_path(current_user), class: "item", style:'font-size: 14px' %>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "item", style:'font-size: 14px' %>

            <% else %>

              <%= link_to 'Sign up', new_user_registration_path, class: "item", style:'font-size: 14px' %> 
              <%= link_to 'Sign in', new_user_session_path, class: "item", style:'font-size: 14px' %> 
            
          <% end %>
          
        </div> 
      </div>
    </div>

    <header>
      <% if flash[:notice] %>
        <div class="ui mini green message">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:alert] %>
        <div class="ui mini red message">
          <%= flash[:alert] %>
        </div>
      <% end %>
    </header>


    <%= yield %>
  
  </body>
</html>
