<!DOCTYPE html>
<html>
  <head>
    <title>BorrowMyStudio</title>
    <%= csrf_meta_tags %>

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="page-header">
      <h1><%= yield :page_header %></h1>
    </div>

      <div class="ui secondary  menu">
        <a>
          <%= link_to 'Borrow-My-Studio', root_path, class: "item" %>
        </a>
        <a class="item">
          Browse
        </a>
        <a>
          <%= link_to 'List item', new_item_path, class: "item" %>
        </a>
        <div class="right menu">
          <div class="item">
            <div class="ui icon input">
              <input type="text" placeholder="Search...">
              <i class="search link icon"></i>
            </div>
          </div>
          <a>
            <%= link_to 'Your Conversations', conversations_path %>
          </a>
          <a>
            <%= link_to 'Account', user_account_path(current_user), class: "ui item" %>
          </a>
          <a class="ui item">
            Logout
          </a>
        </div>
        
      </div>

    <%= yield %>
  
  </body>
</html>
