<!DOCTYPE html>
<html>
  
  <head>
    <title>BorrowMyStudio</title>
    <%= csrf_meta_tags %>

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="111417963310-7748mij1m93qh50kil81lqc677p0lsrr.apps.googleusercontent.com">


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>



    <style>
      #map-canvas {
        width: 325px;
        height: 285px;
        margin-left: 500px;
      }
    </style> 
  </head>

  <body>

  <div id='nav'>
    <div class="ui tabular   menu">
      <%= link_to 'Borrow-My-Studio', root_path, class: "item", style:'font-size: 14px' %>
        <div class="item", style='font-size: 14px'>
          <%= form_tag search_items_path, method: :get, class: 'ui search input', role: 'search' do %>
          <p><%= text_field_tag :search, params[:search], type: 'text', placeholder: 'Search...' %></p> 
          <% end %>
        </div>
      
      
      <div class="right menu">
        
        <% if user_signed_in? %>

          <%= link_to 'Browse', items_path, class: "item", style:'font-size: 14px' %>
          <%= link_to 'List Item', new_item_path, class: "item", style:'font-size: 14px' %>
          <%= link_to 'Your Conversations', conversations_path, class: "item", style:'font-size: 14px' %>
        
        <div class="ui right dropdown item item", style='opacity: 0.8; font-size: 14px; padding-bottom: 1em;'>  
          Account
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item"> <%= link_to 'Profile', user_account_path(current_user), style:'font-size: 14px' %></div>

            <div class="item"> <%= link_to 'My Listings', user_listings_path(current_user), style:'font-size: 14px' %></div>
          </div>
        </div>

          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "item", style:'font-size: 14px' %>

        <% else %>

          <a href="users/auth/google_oauth2">
            <div class="ui google plus button">
              <i class="google plus icon"></i>
              Login with Google
            </div>
          </a>

          <%= link_to 'Sign Up', new_user_registration_path, class: "item", style:'font-size: 14px' %> 
          <%= link_to 'Sign In', new_user_session_path, class: "item", style:'font-size: 14px' %> 
          
        <% end %>

      </div> 
    </div>
  </div>


    <header>
      <% if flash[:notice] %>
        <div class="ui mini green message">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:alert] %>
        <div class="ui mini red message">
          <%= flash[:alert] %>
        </div>
      <% end %>
    </header>


    <%= yield %>

    <script>
        $('.ui.dropdown')
        .dropdown();
      </script>




  
  </body>
</html>
