
<div id='account-form'>
  <div class="ui form">

    <%= simple_form_for @account, :url => user_account_path do |f| %>
      <%= f.input :name %>
      <%= f.input :location %>
      <%= f.input :telephone %>
      <%= f.text_area :your_bio %>
      <%= f.file_field :avatar_img %>

      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  
  </div>
</div>