  <div class='new-account-form'>
      <div class="ui form">

    <h4 class='form-banner'> Complete your profile <%= current_user.username %> </h4>
    
    <%= simple_form_for(@account, url: user_account_path, validate: true) do |f| %>
      <%= f.input :name, input_html: { class: 'form-control' }, label: false, placeholder: "full name" %>
      <%= f.input :location, input_html: { class: 'form-control' }, label: false, placeholder: 'postcode/zipcode' %>
      <%= f.input :telephone, input_html: { class: 'form-control' }, label: false, placeholder: "telephone" %>
      <%= f.input :your_bio, as: :text, input_html: { class: 'form-control' }, label: false, placeholder: "tell us a bit about yourself..." %>
      
      <label for="file-upload" class="custom-file-upload">
        <i class="fa fa-cloud-upload"></i> Pic Upload
      </label>
      <%= f.file_field :avatar_img, id: 'file-upload', input_html: { class: 'form-control' } %>

      <div class='button'>
        <%= f.button :submit, 'Create Profile', class: "ui teal button" %>
      </div>

    <% end %>
    </div>  
  </div>
  
