  <section class='edit-account-form'>


    <section>
        <div id='account-image'>
          <%= image_tag @account.avatar_img_url, :class => "ui medium circular image" %> 
        </div>
    </section>


    <section class='edit-account-form'>
      <%= simple_form_for([@user, @account]) do |f| %>
      <%= f.input :name %>
      <%= f.input :location %>
      <%= f.input :telephone %>
      <%= f.label :avatar_img, label: 'Your avatar' %>
      <%= f.file_field :avatar_img %>
      <%= f.label :your_bio, label: 'Your bio' %>
      <%= f.text_area :your_bio %>

      <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </section>

  </section>

