  <section class='edit-account-form'>

    <h3> Account </h3>

    <section>
        <div id='account-image'>
          <%= image_tag @account.avatar_img_url unless @account.avatar_img.blank? %> 
        </div>
    </section>


    <section>
      <%= simple_form_for([@user, @account]) do |f| %>
      <%= f.input :name %>
      <%= f.input :location %>
      <%= f.input :telephone %>
      <%= f.label :avatar_img, label: 'Your avatar' %>
      <%= f.file_field :avatar_img %>
      <%= f.label :your_bio, label: 'Your bio' %>
      <%= f.text_area :your_bio %>

      <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </section>

  </section>
